/* HEADER */

header{
    background-color: #000000;
    display: inline-block;
    height: 3vw;
}

.contenu{
    margin: auto;
    width: 70%;
}

#Logo_site{
  width: 30%;
  margin-top: 0.1vw;
  float: left;
  display: block;
  outline: 0;
}

#Logo_site:hover{
  filter: blur(2px);
}

#menu_principal{
  width: 70%;
  float: left;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  padding-top: 1.9%;
}

#menu_principal .menu{
  color: #FFFFFF;
  text-decoration: none;
  width: auto;
  padding: 0 1vw 0 1vw;
  font-weight: bold;
  text-align: center;
  font-size: 1.1vmax;
  outline: 0;
  transition: 1s;
}

#menu_principal .menu:hover{
  color: #FFFF7F;
  transition: 1s;
}

.contenu .menu{
  margin: 0;
}


/* ========================================================================== */

/* FOOTER */

footer{
  background-color: #1B1B1B; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 160px;
  color: #FFFFFF;
  width: 100%;
}

.contenu > div {
  width: 33%;
  display: block;
  float: left;
  padding-top: 1%;
}

#Remerciements{
  text-align: center;
}

.divRS > a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 100%;
}
  
.divRS{
  margin: 5px 0 2px 0;
}

.logoRS{
  width: 40px;
  height: 40px;
}

.divRS > a:hover{
  color: pink;
  filter: pink;
}

/* ========================================================================== */

/* SOUS_MENU */

#Sous_Menu{
	display: block;
	width: 11vw;
  margin-left: 3vw;
  margin-top: 4vw;
  background-color: #00538B;
  color: #FFFFFF;
  position: fixed;
  text-align: left;
  padding-bottom: 1vw;
}

#Sous_Menu_Contenu > h4{
    margin: 0.9vw;
}

#Sous_Menu_Contenu > div{
  	text-decoration: none;
    margin: 0.5vw
}

#Sous_Menu_Contenu > div > a{
  	text-decoration: none;
  	color: #000000;
}

#Sous_Menu_Contenu > div > p {
  	margin-top: 2px;
  	margin-bottom: 2px;
}

#Sous_Menu_Contenu > div > a:hover{
  	color: #A7A9AC;
}
