#menu_accueil{
	height: 100000px;
}

.div_accueil{
	border-radius: 100%;
	margin: 80px;
	margin-bottom: 50px;
	display: block;
	float: left;
	position: relative;
	padding:15%;
	/* jai change le padding et le width (fait les varier pour comprendre) */
	width: 3%;
	background-color: red;
}

.div_accueil > p {
	position: absolute;
	text-align: center;
	top: 0:
	bottom: 0;
	left: 0;
	right: 0;
}
