#menu_accueil{
	height: 100000px;
}

.div_accueil{
	border-radius: 10000px;
	margin: 50px;
	display: block;
	float: left;
	position: relative;
	padding-top: 20%;
	width: 20%;
	background-color: red;
}

.div_accueil > p {
	position: absolute;
	text-align: center;
	top: 0:
	bottom: 0;
	left: 0;
	right: 0;
}