body{
	font-family: Arial, sans serif;
	margin: 0;
}
#Logo{
	background-color: black;
	padding-bottom: 10px;
	width: 100vw;
}

#menu>ul{
	padding: 0;
	display: inline-block;
	font-size: 4vw;
	list-style-type: none; 
}
#droite{
	float: right;
}
#droite>a>li{
	padding-right: 10vw;
	padding-left: 5vw;
	-webkit-transition: padding-left 2s; /* For Safari 3.1 to 6.0 */
    transition: padding-left 2s;
}
#gauche>a>li{
	padding-left: 10vw;
	padding-right: 5vw;
	-webkit-transition: padding-right 2s; /* For Safari 3.1 to 6.0 */
  	transition: padding-right 2s;
}
li{
	margin-top: 1vw;
	background-color: black;
	color: white;

}
td>img{
	width: 10vw;
	height: 8vw;
}
h1{
	padding-left: 12vw;
	font-size: 2vw;
}
h2{
	display: inline-block;

}
h3{
	margin-top: 0;
	vertical-align: top;
}
#actualité{
	display: inline-block;
	width: 100vw;
}
p{
	width: 30vw;
	margin:0;
	margin-right:3vw;
	display: inline-block;
}
table{
	padding-left: 8vw;
}
a{
	text-decoration: none;
}
#gauche>a>li:hover{
	padding-right: 8vw;
}
#droite>a>li:hover{
	padding-left: 8vw;
}